<!DOCTYPE html>
<html layout:decorator="layouts/default">
<head>
    <title>Members</title>
</head>
<body>
<div layout:fragment="content">

    <div id="crumb">
        <a th:replace="fragments/breadcrumbs :: home">Home</a>
        &gt;
        <a th:replace="fragments/breadcrumbs :: members">Members</a>
        &gt;
        <a th:replace="fragments/breadcrumbs :: member(${member})">Member</a>
    </div>

    <form action="#" th:action="@{/members/{id}/edit(id=*{id})}" th:object="${member}" method="post"
          th:with="MEM=${T(uk.org.nottinghack.domain.Member)}">

        <input type="hidden" th:field="*{id}" />

        <div th:replace="fragments/form::field('username', 'member.username', 'text', true, ${MEM.USERNAME_MAX_LENGTH})"></div>

        <div th:replace="fragments/form::field('firstname', 'member.firstname', 'text', true, ${MEM.FIRSTNAME_MAX_LENGTH})"></div>

        <div th:replace="fragments/form::field('surname', 'member.surname', 'text', true, ${MEM.SURNAME_MAX_LENGTH})"></div>

        <div th:replace="fragments/form::field('email', 'member.email', 'email', true, ${MEM.EMAIL_MAX_LENGTH})"></div>

        <div th:replace="fragments/form::field('unlockText', 'member.unlock_text', 'text', true, ${MEM.UNLOCK_TEXT_MAX_LENGTH})"></div>

        <div th:replace="fragments/form::field('firstAddressLine', 'member.address1', 'text', true, ${MEM.ADDRESS_LINE_MAX_LENGTH})"></div>

        <div th:replace="fragments/form::field('secondAddressLine', 'member.address2', 'text', false, ${MEM.ADDRESS_LINE_MAX_LENGTH})"></div>

        <div th:replace="fragments/form::field('city', 'member.city', 'text', true, ${MEM.ADDRESS_LINE_MAX_LENGTH})"></div>

        <!--<div class="input text required">-->
            <!--<label for="MemberAddressCity">City</label><input name="data[Member][address_city]" maxlength="100" type="text" value=-->
                <!--"" id="MemberAddressCity" required="required" />-->
        <!--</div>-->

        <!--<div class="input text required">-->
            <!--<label for="MemberAddressPostcode">Postcode</label><input name="data[Member][address_postcode]" maxlength="100" type=-->
                <!--"text" value="" id="MemberAddressPostcode" required="required" />-->
        <!--</div>-->

        <!--<div class="input text required">-->
            <!--<label for="MemberContactNumber">Contact Number</label><input name="data[Member][contact_number]" maxlength="20" type=-->
                <!--"text" value="" id="MemberContactNumber" required="required" />-->
        <!--</div>-->

        <!--<div class="input select required">-->
            <!--<label for="MemberAccountId">Account</label><select name="data[Member][account_id]" id="MemberAccountId" required=-->
                <!--"required">-->
            <!--<option value="-1">-->
                <!--Create new-->
            <!--</option>-->

            <!--<option value="11">-->
                <!--Testing Member-->
            <!--</option>-->
        <!--</select>-->
        <!--</div>-->

        <!--<fieldset>-->
            <!--<legend>Pins</legend>-->

            <!--<div class="input text required">-->
                <!--<label for="Pin0Pin">Pin</label><input name="data[Pin][0][pin]" readonly="readonly" maxlength="12" type="text" value=-->
                    <!--"" id="Pin0Pin" required="required" />-->
            <!--</div>-->

            <!--<fieldset>-->
                <!--<legend>Groups</legend>-->

                <!--<div class="input select">-->
                    <!--<input type="hidden" name="data[Group][Group]" value="" id="GroupGroup" />-->

                    <!--<div class="checkbox">-->
                        <!--<input type="checkbox" name="data[Group][Group][]" checked="checked" value="2" id="GroupGroup2" /><label for=-->
                                                                                                                                         <!--"GroupGroup2" class="selected">Current members</label>-->
                    <!--</div>-->

                    <!--<div class="checkbox">-->
                        <!--<input type="checkbox" name="data[Group][Group][]" checked="checked" value="1" id="GroupGroup1" /><label for=-->
                                                                                                                                         <!--"GroupGroup1" class="selected">Full Access</label>-->
                    <!--</div>-->

                    <!--<div class="checkbox">-->
                        <!--<input type="checkbox" name="data[Group][Group][]" checked="checked" value="4" id="GroupGroup4" /><label for=-->
                                                                                                                                         <!--"GroupGroup4" class="selected">Gatekeeper admin</label>-->
                    <!--</div>-->

                    <!--<div class="checkbox">-->
                        <!--<input type="checkbox" name="data[Group][Group][]" checked="checked" value="5" id="GroupGroup5" /><label for=-->
                                                                                                                                         <!--"GroupGroup5" class="selected">Member Admin Team</label>-->
                    <!--</div>-->

                    <!--<div class="checkbox">-->
                        <!--<input type="checkbox" name="data[Group][Group][]" checked="checked" value="7" id="GroupGroup7" /><label for=-->
                                                                                                                                         <!--"GroupGroup7" class="selected">Membership Team</label>-->
                    <!--</div>-->

                    <!--<div class="checkbox">-->
                        <!--<input type="checkbox" name="data[Group][Group][]" checked="checked" value="3" id="GroupGroup3" /><label for=-->
                                                                                                                                         <!--"GroupGroup3" class="selected">Snackspace admin</label>-->
                    <!--</div>-->

                    <!--<div class="checkbox">-->
                        <!--<input type="checkbox" name="data[Group][Group][]" value="6" id="GroupGroup6" /><label for="GroupGroup6">Young-->
                        <!--Adult Hackers</label>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</fieldset>-->

            <!--<fieldset>-->
                <!--<legend>Mailing Lists</legend>-->

                <!--<div class="input select">-->
                    <!--<input type="hidden" name="data[MailingLists][MailingLists]" value="" id="MailingListsMailingLists" />-->

                    <!--<div class="checkbox">-->
                        <!--<input type="checkbox" name="data[MailingLists][MailingLists][]" checked="checked" value="0a6da449c9" id=-->
                                <!--"MailingListsMailingLists0a6da449c9" /><label for="MailingListsMailingLists0a6da449c9" class="selected">Nottingham-->
                        <!--Hackspace Announcements</label>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</fieldset>-->

            <div class="submit">
                <button type="submit">Update</button>
            </div>
        <!--</fieldset>-->
    </form>

</div>
</body>
</html>