<!DOCTYPE html>
<html layout:decorator="layouts/default">
<head>
    <title>Tools</title>
    <script th:src="@{/js/listbookings.js}"></script>
</head>
<body layout:fragment="content">
    <h2>Your Bookings</h2>

    <table th:unless="${#lists.isEmpty(bookings)}">
        <tr>
            <th>&nbsp;</th>
            <th>Start</th>
            <th>End</th>
            <th>Type</th>
            <th>Notes</th>
        </tr>
        <tr th:each="booking : ${bookings}">
            <td width="25">
                <a th:href="${#mvc.url('TBC#deleteBooking').arg(0, tool.id).arg(1, booking.id).build()}">
                    <img th:src="@{/img/icon_delete.png}"  alt="Delete Booking" title="Delete Booking" class="delete" />
                </a>
            </td>
            <td th:text="${#temporals.format(booking.start, 'dd MMMM yyyy @ HH:mm')}"></td>
            <td th:text="${#temporals.format(booking.end, 'dd MMMM yyyy @ HH:mm')}"></td>
            <td th:text="${booking.type}"></td>
            <td>&nbsp;</td>
        </tr>
    </table>

    <p th:if="${#lists.isEmpty(bookings)}">No future events found.</p>

    <div id="dialog-confirm" title="Are you sure?" style="display:none;">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Delete the booking that starts on </p>
    </div>
</body>
</html>