<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html layout:decorator="layouts/email">
<head>
	<title>Contact Details Rejected</title>
</head>
<body layout:fragment="content" th:inline="text">
	<p>
		Hello!
	</p>
	<p>
		One of the member admins have indicated that there is an issue with the contact details you entered, they have
		send you the following message:
	</p>
	<p>
		[[${reasonRejected}]]
	</p>
	<p>
		Please <a th:href="@{/login}">Login to HMS</a> and update your contact details.
	</p>
	<p>
		Thanks,<br>
		Nottinghack Member Admin Team
	</p>
</body>
</html>

